// Created by uakruk on 12/26/16.
extends layout

block menustyle
    .container
        .slide-menu
            .menu
                ul.cl-effect-16
                    block menu
                        li
                            a(href="/", data-hover="Домашня").active Домашня
                        li
                            a(href="/about", data-hover="Про нас") Про нас
                        li
                            a(href="/teachers", data-hover="Вчителі") Вчителі
                        li
                            a(href="/gallery", data-hover="Галерея") Галерея
                        li
                            a(href="/methods", data-hover="Методичні об'єднання") Методичні об'єднання
                        li
                            a(href="/contact", data-hover="Контакти") Контакти
                        li
                            a(href="/logout", data-hover="Вийти") Вийти
                    .clearfix

block slogans

block greeting

block services

block news

block culture

block ready

